@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans), var(--font-suite), sans-serif;
	--font-mono: var(--font-geist-mono), monospace;
	--font-serif: var(--font-noto-serif-kr), serif;
	--color-bg: #0c0a09;
}

html,
body {
	height: 100%;
	margin: 0;
	background: var(--color-bg);
}
